[Desktop Entry]
MimeType=text/plain;inode/directory;
StartupWMClass=com.ncravino.giduba
Name=Giduba
Comment=A lean, small, and simple text editor in QT
Exec=Giduba %F
Icon=giduba
Type=Application
Categories=Qt;Utility;TextEditor;
Keywords=text;txt;editor;
StartupNotify=true
Terminal=false
